<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Proyecto|DevConnect®️</title>
    </head>
    <body>
        <h1>Actualizar Proyecto</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Actualizar Proyecto</button>
        </form>
        <h2>Desea cancelar la operación ?</h2>
        <a href="{% url 'cliente_home' %}"><strong>Cancelar</strong></a>
        <footer>DevConnect®️™️</footer>
</html>