<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Eliminar Proyecto|DevConnect®️</title>
    </head>
    <body>
        <h1>Eliminar Proyecto</h1>
        <h2>¿Estás seguro de que deseas eliminar el proyecto {{ proyecto.titulo }}?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" onclick="alert('Producto Eliminado')">Eliminar Proyecto</button>
        </form>
        <h2>Desea cancelar la operación ?</h2>
        <a href="{% url 'cliente_home' %}"><strong>Cancelar</strong></a>
        <footer>DevConnect®️™️</footer>
</html>